
.App {
  margin-bottom: 50px;
}
.navbar{
  background-color: #563D7C;   
}
.dropdown-toggle{
  color:#CBBDE2;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.col-6 h1{
  font-size: 70px;
  color: #7952B3
}
.nav-item{
  color: #CBBDE2;
}
#btn{
  padding: 10px 50px;
  margin-left: 0px;
  margin-right: 20px;
  font-size: 20px;
}
.col-4{
  background-color: #F8F9FA;
}
.bd-footer{
  color: #6c757d;
  font-size: 85%;
  background-color: #f7f7f7;
}
.contener{
  margin-bottom: 10%;
  margin-top: 10%;
}
.q{
  color: #645570;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
