

.aap{background-image: url(img/copy.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 1px;
  background-size: cover;
}
#hh1{
  margin-left: 100px;
  margin-right: 100px;
  border-width: 3px ;
  border-style: solid;
  color: azure;
  background-color: black;
}
.angkak{
  font-size: 300px;
  color: white;
}
.ukur{
  font-size: 30px;
}
#hitam{
  background-color: black;
  color: white;
}