.navigasi{
  text-align: center;
  background-color: black;
  height: 65px;
  padding-top: 15px;
}
.ling{}
html{
  position: relative;
}

.Appp{background-image: url(img/copy.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 50px;
  margin-top: 30px;
  background-size: cover;
}
.nabar{
  background-image: url(img/copy.jpg);
}
#w{
  color: white;
}
#h1{
  color: white;
}
h1{
  color: white;
}
.jumbotron p{
  color: white;
}
.jumbotron img{
  width: 200px;
  height: 200px;
  
}
.jumbotron{
  background-image: url(img/b.jpg);
  background-attachment: fixed;
  /* height: 400px;
  background-size: cover;
  background-position: 0 -100px; */
  overflow: hidden;    
}
hr{
  width: 250px;
  border-top: 2px solid white
}
section{
  min-height: 600px;
  color: white;
  font-family: sans-serif;
}
.gallery{
  
  color: white;
  padding-top: 30px;
}
.gallery img{
  width: 200px;
  height: 200px;
  
}
/* .gallery .img-thumbnail{
  opacity: 0;
  transform: translate(0, -40px);
  transition: .5s;
}
.gallery .img-thumbnail.muncul{
  opacity: 1;
  transform: translate(0,0);
} */
/* .kiri, .kanan{
  opacity: 0;
  transform: translate(-50px, 0) rotate(15deg);
  transition: 1s;
}
.kanan{
  transform: translate(50px, 0);
}
.kiri.pmuncul, .kanan.pmuncul{
  opacity: 1;
  transform: translate(0,0);
}    */
.about p{
  font-size: 20px; 
}
.contact{
  min-height: 600px;
  padding-top: 30px;
}
.card{
  background-image:url(img/copy.jpg); 
}
.tombol{
  background-image:url(img/copy.jpg);
  
}
.imeg{
  border: 5px solid #666;
}
.foot{
  
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: url(img/copy.jpg);
  color: white;
  padding-top: 30px;

}
footer p.kanan{
  font-size: 0.9em;
  
}
.kanan{
  color: white;
}
li{
  text-decoration: none;
}